<div 
  x-init="
  new PagefindUI({ element: '#search', showSubResults: false, showImages: true, highlightParam: 'highlight' }); 
  $watch('open', (open) => { 
    $nextTick(() => open && $refs['search-component'].getElementsByTagName('input')[0].focus())
  })"
  x-data="{ open: false }" 
  @keydown.window.escape="open = false"
  @canvas-open.document="open = true" 
  x-show="open"
  class="relative z-10" 
  aria-modal="true" 
>
  <div class="fixed inset-0 bg-slate-700/80"></div>
  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-0 md:pl-16">
        <div x-show="open" x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
          x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0"
          x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
          x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full"
          class="pointer-events-auto w-screen max-w-3xl"
          @click.away="open = false">
          <div class="flex h-full flex-col overflow-y-scroll bg-slate-200 py-6 shadow-xl">
            <div class="px-4 sm:px-6">
              <div class="flex items-start justify-between">
                <h2 class="text-base font-semibold leading-6 text-slate-700" id="slide-over-title">Search for products</h2>
                <div class="ml-3 flex h-7 items-center">
                  <button type="button"
                    class="relative rounded-md bg-slate-200 text-slate-400 hover:text-slate-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                    @click="open = false">
                    <span class="absolute -inset-2.5"></span>
                    <span class="sr-only">Close panel</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                      aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="relative mt-6 flex-1 px-4 sm:px-6">
             <div id="search" x-ref="search-component"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>