{{ $page := .page }}
{{ $itemImage := .itemImage }}
{{ $itemImageThumb := $itemImage.Resize "x80" }}

{{ $itemData := dict
    "sku" $page.Params.sku 
    "title" $page.Params.title
    "price" $page.Params.price
    "stripe_price_id" $page.Params.stripe_price_id 
    "itemURL" $page.Permalink
    "imageURL" $itemImage.RelPermalink
    "imageThumbURL" $itemImageThumb.RelPermalink
    "imageThumbURLHeight" $itemImageThumb.Height
    "imageThumbURLWidth" $itemImageThumb.Width
    | jsonify }}

{{ return $itemData }}