{{ $images := (where (.Resources.ByType "image") ".Height" "gt" 80) }}

<div class="relative">
  <div x-data="useCarousel(10000)" @mouseover="stopAutoSlide()" @mouseout="startAutoSlide()" class="flex flex-col w-full">
    <div x-on:keydown.window.right="next" x-on:keydown.window.left="prev" tabindex="0" role="region" aria-labelledby="carousel-label"
      class="flex space-x-6">
      
      <h2 id="carousel-label" class="sr-only" hidden>Carousel</h2>
      <span id="carousel-content-label" class="sr-only" hidden>Carousel</span>
      
      <ul x-ref="slider" tabindex="0" role="listbox"
        aria-labelledby="carousel-content-label" class="flex w-full overflow-x-hidden snap-x snap-mandatory">
        {{ range $index, $image := $images }}
          <li class="flex flex-col items-center justify-center w-full p-0 shrink-0 snap-start" role="option">
            <img
                {{ if eq $index 0 }} data-pagefind-meta="image[src], image_alt[alt]" {{ end }}
                src="{{ $image.RelPermalink }}" 
                alt="product image {{ $index }}" 
                class="w-96 bg-gray-50 rounded-lg ring-1 ring-gray-300"
                height="{{ $image.Height }}" 
                width="{{ $image.Width }}"
            >
          </li>
        {{ end }}
      </ul>
    </div>
    {{ if len $images | lt 1 }}
      <!-- NAVIGATION  -->
      <div class="flex justify-center items-center w-full h-full p-1 mt-3 space-x-3">
        <!-- Prev Button -->
        <button x-on:click="prev" class="text-6xl">
          <span aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-auto h-5 text-gray-300 lg:h-8 hover:text-gray-400"
              fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
          </span>
          <span class="sr-only" hidden>Skip to previous slide page</span>
        </button>
        <!-- Indicators -->
        <div>
          <div class="flex gap-2 justify-center items-center">
            <template x-for="(slide, index) in Array.from($refs.slider.children)" :key="index">
              <div @click="goToSlide(index)"
                class="w-3 h-3 rounded-full cursor-pointer"
                :class="{'bg-gray-700': currentSlide === index, 'bg-gray-300': currentSlide !== index }"
                >
            </div>
            </template>
          </div>
        </div>
        <!-- Next Button -->
        <button x-on:click="next" class="text-6xl">
          <span aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-auto h-5 text-gray-300 lg:h-8 hover:text-gray-400"
              fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
          </span>
          <span class="sr-only" hidden>Skip to next slide page</span>
        </button>
      </div>
    {{ end }}
  </div>
</div>