{{ define "main" }}
  <div class="mx-auto max-w-2xl px-16 md:px-8 sm:py-8 lg:max-w-7xl xs:py-4 py-16" x-data="useCart()">
    <div x-show="cart.stripeSessionId">
      <h1 class="text-xl font-bold mb-3">Thank you for your purchase!</h1>
      <p class="mt-3 mb-9">Dear valued customer, thank you for your purchase. Please, keep stored the following purchase ID:</p>
      <div class="flex flex-wrap gap-6 p-3 my-6 bg-slate-100 border-2 rounded-xl w-fit" x-data="{ showCopied: false }">
        <div class="break-words max-w-96">
          <span x-text="cart.stripeSessionId" class="font-bol"></span>
        </div>
        <div>
          <button
            @click="navigator.clipboard.writeText(cart.stripeSessionId); showCopied=true; setTimeout(() => showCopied = false, 1500)"
            class="p-3 bg-pink-600 hover:bg-pink-700 text-sky-50 rounded-lg transition flex gap-2 items-center">
            Copy to clipboard
          </button>
          <span x-show="showCopied" x-transition class="inline-block w-full text-sm text-slate-700/90 text-center italic">copied to clipboard!</span>
        </div>
      </div>
      <p class="mt-9">You will need it in order to receive further support, in
        case of need (<a href="mailto:support@jammy.xyz" class="text-pink-700">support@jammy.xyz</a>).</p>
      <p class="mt-3">You will receive a purchase confirmation email in a short period of time.</p>
    </div>
    <div x-show="!cart.stripeSessionId">
      <h1 class="text-xl font-bold mb-3">Hey! Something strange going here.</h1>
      <p>It looks like you haven't finalized any purchase today.</p>
      <p>If you think that this is an error on our part, please drop us few lines at <a href="mailto:support@jammy.xyz" class="text-pink-700">support@jammy.xyz</a></p>
    </div>
  </div>
{{ end }}