{{ define "main" }}
  <div class="mx-auto max-w-2xl px-16 md:px-8 sm:py-8 lg:max-w-7xl xs:py-4 py-16" x-data="useCart()">
    <div x-show="cart.stripeSessionId">
      <h1 class="text-xl font-bold mb-3">Thank you for your purchase!</h1>
      <p class="mt-3 mb-9">Dear valued customer, thank you for your purchase. Keep the following purchase ID for future reference:</p>
      <div class="flex flex-wrap gap-6 items-center p-3 my-6 bg-slate-200 border-2 rounded-lg w-fit drop-shadow" x-data="{ showCopied: false }">
        <div class="break-words max-w-80">
          <p class="text-xl font-semibold">PURCHASE ID</p>
          <p x-text="cart.stripeSessionId" class="break-all"></p>
          <p class="text-xs mt-3">The present purchase ID won't be available once you leave this page (we suggest that you keep it stored). You will need it in order to receive further support.</p>
        </div>
        <div>
          <button
            @click="navigator.clipboard.writeText(cart.stripeSessionId); showCopied=true; setTimeout(() => showCopied = false, 1500)"
            class="p-3 bg-pink-600 hover:bg-pink-700 text-sky-50 rounded-lg transition flex gap-2 items-center">
            Copy to clipboard
          </button>
          <span class="inline-block w-full text-sm text-slate-700/90 text-center italic" :class="{ 'invisible' :!showCopied }">copied to clipboard!</span>
        </div>
      </div>
      <p class="mt-9">
      </p>
      <p class="mt-9">We are also glad to let you know that a purchase confirmation email should be on its way to your box.</p>
    </div>
    <div x-show="!cart.stripeSessionId">
      <h1 class="text-xl font-bold mb-3">Hey! Something strange going here.</h1>
      <p>It looks like you haven't finalized any purchase today, or maybe you are re-visiting this page after a purchase.</p>
      <p>If you think that this is an error on our part, please drop us few lines at <a href="mailto:support@jammy.xyz" class="text-pink-700">support@jammy.xyz</a></p>
    </div>
  </div>
{{ end }}